<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Floating Point Types in Ruby</title>

  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">
</head>
<body>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1>Floating Point Types in Ruby</h1>


        <% @results.each do |test, test_results| %>

        <h2><%= test %></h2>

          <table class="table table-striped">
            <thead>
              <th>Type</th>
              <th>Result</th>
              <th>Info</th>
            </thead>
            <% test_results.each do |test_result| %>
            <tr>
              <td><%= test_result.type %></td>
              <td><%= test_result.result %></td>
              <td><%= test_result.info %></td>
            </tr>
            <% end %>

          </table>

        <% end %>
      </div>
    </div>
  </div>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
</body>
</html>